@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.body{
    background-color:#FFD962;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

.outerbox{
    margin-top:50px;
}


.title{
    font-size: 50px;
}

.webpage{
    font-size: 25px;
}

.innerbox{
    background-color: #FFF2C9;
    margin: 20px auto;
    width: 600px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 6px;
}

table{
    margin:20px auto;
    border: 2px solid #444444;
    background-color: FFF2C9;
}

thead th, td{
    font-size: 20px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #444444;
    padding: 5px;
}

.home{
    float: right;
}

.body img{
    width: 50px;
    height:50px;
}

.body .home{
    text-align: right;
    margin-right: 100px;
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.tohome{
    text-align: center;
    margin-top: 7px;
}

font-family: 'Black Han Sans', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;
